body{
    background-color:cornflowerblue;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 1.3em;
    background-image: url("antena.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    margin-bottom: 1.6em;
    color: white;
    }

.container{
    width: 85%;
    max-width: 1400px;
    margin: 0 auto ;
}

.header{
    background:rgb(4, 0, 66);
    color:beige;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color:cornsilk;
    text-decoration:none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 20px;
    font-size: 1.5em;
}

.one_quarter{
    display:block; 
    float:none;
     width:auto; 
     margin:0 0 30px 0; 
     padding:0;
     box-shadow: 7px 5px 4px 3px #edeaf154;
     animation-duration: 3s;
     animation-name: slidein;
}
li:first-child a{color:#1C7AA8;}

.navigation ul {
    margin:0 ;
    padding:0 ;
    list-style: none ;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background: rgb(127, 214, 255);
}

.footer{
    background: rgb(4, 0, 66);
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin-top: 1rem;
}

.galeria {
    margin: 50px 50px 50px 50px;
}

.galeria li {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border: 5px solid blue;
}

.galeria img {
    width: 300px;
    height: 300px;
}
.main{
    padding: 1rem 1rem;
    margin-top: 1rem;
    padding-top: 5rem;
}
.register-form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.register-item{
    text-align: center;
}
.input-form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: center;
}
.submit{
    width: 100%;
    background-color: #BEAEE2;
    color: #171717;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@keyframes slidein {
    from {
      margin-left: 10%;
      width: 20%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

@media (max-width: 700px){
    .galeria img {
        width: 20px;
        height: 20px;
}
}


@media (max-width: 360px) {
    .galeria img {
        width: 100px;
        height: 100px;
}
}